## .NET
*.swp
*.user
*.userosscache
*.sln.docstats
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.cache
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings

# Build results
[Dd]ebug/
[Rr]elease/
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp_proj
*_wpftmp.csproj
*.vspscc
*.vssscc
.builds

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json

# Rider
.idea/

# macOS
.DS_Store

# Environment
.env

# SQLite
*.db
*.db-shm
*.db-wal

# File Uploads
storage/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
TestResult.xml
